<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="flexcenter">
        <h1 class="bigtext">budge</h1>
        <div class="flexspread" style="width:30vw;">
            <a href="{{url_for('register')}}" class="homebutton">Register</a><br>
            <a href="{{url_for('login')}}" class="homebutton">Login</a><br>
        </div>
    </div>
</body>
</html>